.about{
	padding-top: 84px;
	.title-block{
		margin-bottom: 60px;
	}
}
.about-items{
	border-radius: 30px;
	background: #FBFAFB;
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 35px;
	padding-bottom: 42px;
}
.about-item__title{
	font-size: 50px;
	font-weight: 500;
	line-height: 125%; 
	letter-spacing: -0.5px;
	margin-bottom: 10px;
}
.about-item__text{
	opacity: 0.4;
	font-weight: 500;
}
.about-item{
	&:last-child{
		text-align: center;
	}
	&:nth-child(2){
		text-align: center;
	}
	&:nth-child(3){
		text-align: center;
	}
}
.how{
	.container{
		padding-right: 0;
		padding-left: 0;
	}
}